.nouns-sale {
  background: #d2faff;
  -webkit-box-shadow: inset 0px -2px 15px 3px rgba(0,0,0,0.42); 
  box-shadow: inset 0px -2px 15px 3px rgba(0,0,0,0.42);
  .MuiGrid-container{
    justify-content: center;
    min-height: 450px;
  }
  .grid {
    display: flex;
    &.grid-left{
      justify-content: center;
      align-items: end;
      .temp-noun-u {
        min-width: 350px;
        margin-top: 30px;
      }
      .noun-data {
        position: relative;        
      }
      .noun-data img {
        z-index: 101;
      }
      .noun-data img:first-child {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
      }
    }
    &.grid-right{
      flex-direction: column;
      justify-content: end;
      .card-sale {
        background: #fafafa;
        align-self: center;
        min-width: 300px;
        -webkit-box-shadow: 1px -6px 15px -1px rgba(0,0,0,0.4); 
        box-shadow: 1px -6px 15px -1px rgba(0,0,0,0.4);
      }
    }
    .buttons{
      max-height: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
.title{
  text-align: center;
  margin-bottom: 20px;
}
.lastOffers{
  margin: 10px 5px;
  .title_lastOffers{
    margin: 5px 0px;
  }
  .item_lastOffers{
    margin: 5px 5px;
  }
}