.we-want {
  background: rgb(42, 154, 202);
  background: linear-gradient(180deg, rgba(42, 154, 202, 1) 0%, rgba(42, 165, 194, 1) 70%, rgba(42, 192, 173, 1) 100%);
  color: #fff;
  .grid-container {
    justify-content: center;
    margin-top: 0;
    padding: 40px 0;

    .__item {
      margin-top: 0;
      padding-top: 0;
    }

    .__title{
      padding:0 50px;
    }
    .__content{
      padding:0 50px;
    }
    .__image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}